*{
    margin: 0;
    padding: 0px;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 2rem;
    font-weight: 1.5rem;
}
#container{
    width: 600px;
    background-color: royalblue;
    border: 1px solid black;
    border-radius: 5px;
    margin: 60px auto;
    text-align: center;
    
}
table{
    background-color: black;
    margin: 10px auto;
}

td{
    border-radius: 10px;
    height: 60px;
    width: 80px;
}
td button{
    border-radius: 10px;
    font-size: 2rem;
    transition: 100ms;
    width: 100%;
    height: 100%;
}
button:hover{
    outline: none;
}
td:hover{
    transform: scale(0.9);
}
#screen{
    border-radius: 10px;
    padding: 5px;
    width: 400px;
    font-size: 1.5rem;
}